.App {
  background-image: linear-gradient(rgb(255, 221, 227), rgb(255, 255, 194));
}

.header {
  background-image: linear-gradient(45deg, #cc8a8a 25%, #f5f0ce 25%, #f5f0ce 50%, #cc8a8a 50%, #cc8a8a 75%, #f5f0ce 75%, #f5f0ce 100%);
  background-size: 56.57px 56.57px;
  padding:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img_hackillinois {
  width:200px;
  height:auto;
}

.img_bakery {
  position:fixed;
  left:0px;
  bottom:0px;
  height:auto;
  width:450px;
}

.img_tree {
  position:fixed;
  right:0px;
  bottom:0px;
  height:auto;
  width:auto;
  padding-bottom:10px;
}

.img_grass {
  position:fixed;
  margin-left:auto;
  margin-right:auto;
  display:block;
  bottom:0px;
  width:100%;
  height:15%;
}
